* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto; }

header {
  background-color: rgba(134, 205, 130, 0.7);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  @media screen and (min-width: 480px) {
    header {
      position: static;
      background-color: #86cd82; } }
  header img {
    float: left; }
    header img.logo-normal {
      display: none; }
      @media screen and (min-width: 480px) {
        header img.logo-normal {
          display: block; } }
    @media screen and (min-width: 480px) {
      header img.logo-mini {
        display: none; } }
  header nav {
    float: right;
    display: none; }
    @media screen and (min-width: 768px) {
      header nav {
        display: block; } }
    header nav li {
      display: inline-block;
      line-height: 100px;
      margin: 0 8px;
      font-size: 18px; }
      @media screen and (min-width: 900px) {
        header nav li {
          font-size: 24px;
          margin: 0 15px; } }
      header nav li a {
        text-decoration: none; }
  header .icono {
    float: right;
    font-size: 42px;
    line-height: 100px; }
    @media screen and (min-width: 768px) {
      header .icono {
        display: none; } }

main {
  background-color: #8ae9c1;
  margin-top: 140px; }
  @media screen and (min-width: 480px) {
    main {
      margin-top: 0; } }

.imagenes {
  background-color: #a0eec0;
  padding: 20px; }
  @media screen and (min-width: 480px) {
    .imagenes {
      width: 66%;
      float: left; } }
  .imagenes li {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px; }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .imagenes li {
        width: 48%; }
        .imagenes li:nth-child(2n + 2) {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      .imagenes li {
        width: 24%; }
        .imagenes li:nth-child(4n +4) {
          margin-right: 0; } }
    .imagenes li img {
      max-width: 100%;
      display: block; }

aside {
  padding: 20px; }
  @media screen and (min-width: 480px) {
    aside {
      width: 34%;
      float: left; } }

footer {
  background-color: #666b6a;
  color: #fff;
  text-align: center;
  height: 100px;
  line-height: 100px; }

/*# sourceMappingURL=estilos.css.map */