$breakpoint_mobile: 480px;
$breakpoint_tablet: 768px;
$container-width: 90%;
$container-max-width: 800px;

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: $container-width;
    max-width: $container-max-width;
    margin: 0 auto;
}

header {
    background-color: rgba(#86cd82, 0.7);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media screen and (min-width: $breakpoint-mobile) {
        position: static;
        background-color: #86cd82;
    }
    img {
        float: left;
        &.logo-normal {
            display: none;
            @media screen and (min-width: $breakpoint-mobile) {
                display: block;
            }
        }
        &.logo-mini {
            @media screen and (min-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }
    nav {
        float: right;
        display: none;
        @media screen and (min-width: $breakpoint-tablet) {
            display: block;
        }
        li {
            display: inline-block;
            line-height: 100px;
            margin: 0 8px;
            font-size: 18px;
            @media screen and (min-width: 900px) {
                font-size: 24px;
                margin: 0 15px;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .icono {
        float: right;
        font-size: 42px;
        line-height: 100px;
        @media screen and (min-width: $breakpoint-tablet) {
            display: none;
        }
    }
}

main {
    background-color: #8ae9c1;
    margin-top: 140px;
    @media screen and (min-width: $breakpoint-mobile) {
        margin-top: 0;
    }
}

.imagenes {
    background-color: #a0eec0;
    padding: 20px;
    @media screen and (min-width: $breakpoint-mobile) {
        width: 66%;
        float: left;
    }
    li {
        float: left;
        margin-bottom: 5px;
        margin-right: 5px;
        @media screen and (min-width: $breakpoint-mobile) and (max-width: ($breakpoint-tablet - 1)) {
            width: 48%;            
            &:nth-child(2n + 2) {
                margin-right: 0;
            }                        
        }
        @media screen and (min-width: $breakpoint-tablet) {
            width: 24%;       
            &:nth-child(4n +4) {
                margin-right: 0;
            }                        
        }
        img {
            max-width: 100%;
            display: block;
        }
    }
}

aside {
    padding: 20px;
    @media screen and (min-width: $breakpoint-mobile) {
        width: 34%;
        float: left;
    }
}

footer {
    background-color: #666b6a;
    color: #fff;
    text-align: center;
    height: 100px;
    line-height: 100px;
}